aside{
  background: $green;
  min-height: 100vh;
  position: relative;
  button{
    background: transparent;
    border: none;
  }
  header{
    margin: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main{
    ul{
      li{
        display: flex;
        align-items: center;
        gap: 0 1rem;
        padding: 1rem;
        margin: 0 1rem;
        & + li{
          margin-top: 1rem;
        }
        &.emphasis{
          background: $light-green;
          border-radius: 1rem;
        }
      }
    }
  }

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    .logout{
      background: $light-green;
      padding: 1rem;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 3fr 1fr;
      p{
        font-size: 0.75rem;
      }
    }
  }
  &.responsive{
    width: 30%;
    header{
      align-items: center;
      justify-content: center;
     img#logo{
        display: none;
      }
    }
    main{
      li{
        justify-content: center;
        h4{
          display: none;
        }
      }
    }
    .logout{
      grid-template-columns: 1fr;
      img#avatar, div{
        display: none;
      }
    }
  }
}